<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ביקור באח"י רהב, צוללת הדולפין החדישה ביותר בצה"ל - הארץ</title>
    <meta name="description"
          content='עמוס הראל התלווה להפלגת אימון באח"י רהב, צוללת הדולפין החדישה ביותר בחיל הים, ושמע מהצוות על ייחודיות השירות'>
    <link rel="canonical" href="http://www.haaretz.co.il/st/c/prod/global/magz/sub2016/2"/>
    <meta property="og:title" content='המפלצת: דיווח מהקרביים של מכונת המלחמה היקרה ביותר בצה"ל'/>
    <meta property="og:type" content="Article"/>
    <meta property="og:url" content="http://www.haaretz.co.il/st/c/prod/global/magz/sub2016/2"/>
    <meta property="og:image" content="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg">
    <meta property="og:description"
          content='עמוס הראל התלווה להפלגת אימון באח"י רהב, צוללת הדולפין החדישה ביותר בחיל הים, ושמע מהצוות על ייחודיות השירות'/>

    <!--<script src="http://www.haaretz.co.il/st/c/static/resources/js/interdfp/inter-dfp.min.js"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->

    <!-- build:remove -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_heb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/project_styles.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" type="text/css" href="<%= prodUrl %>stylesheets/<%= name %>-styles.min.css">
     /build -->
</head>
<body>
<!-- Facebook init -->
<script>
    window.fbAsyncInit = function () {
        FB.init({appId: 110687712359084, status: true, xfbml: true});
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End of Facebook init -->
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MHZ2NZ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })
    (window, document, 'script', 'dataLayer', 'GTM-MHZ2NZ');
</script>
<!-- End Google Tag Manager -->
<!-- Main Element Start -->
<div class="inter-mc w-check t" style="display: block;">
    <div id="chap0" class="chapter">
        <div class="inter-row flush">
            <div id="item0" class="op lazyload"
                 style="background-image: url('http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_1496xAuto/1003451774.jpg');"
                 data-bgset="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_300xAuto/1003451774.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_468xAuto/1003451774.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_640xAuto/1003451774.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_748xAuto/1003451774.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_936xAuto/1003451774.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_1496xAuto/1003451774.jpg 1024w">
                <div class="opAbsCont">
                    <div class="opCont">
                        <div class="opHead">המפלצת: דיווח מהקרביים של מכונת המלחמה היקרה ביותר בצה"ל</div>
                        <a class="scrollease off50" href="#mo">E</a></div>
                </div>
                <picture style="display: none;">
                    <source data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_300xAuto/1003451774.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_468xAuto/1003451774.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_640xAuto/1003451774.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_748xAuto/1003451774.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_936xAuto/1003451774.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_1496xAuto/1003451774.jpg 1024w"
                            sizes="446px"
                            srcset="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_300xAuto/1003451774.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_468xAuto/1003451774.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_640xAuto/1003451774.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_748xAuto/1003451774.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_936xAuto/1003451774.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg_gen/derivatives/size_1496xAuto/1003451774.jpg 1024w">
                    <img alt="" data-parent-fit="cover" class="lazyautosizes lazyload" data-sizes="auto" sizes="446px">
                </picture>
            </div>
            <div class="open-inter-caption"><span></span><span></span></div>
        </div>
        <div class="inter-row regular"><p id="mo" class="tm cntr">עמוס הראל התלווה להפלגת אימון באח"י רהב, צוללת הדולפין
            החדישה ביותר בחיל הים, ושמע מהצוות על ייחודיות השירות, על היכולות הטכנולוגיות, הקשיים הפיזיים והנפשיים ואיך
            זה שבישראל עדיין לא מקבלים נשים לצוללות</p></div>
        <div class="inter-row regular">
            <div class="c cntr"><a href="http://www.haaretz.co.il/misc/writers/1.850" target="_blank">עמוס הראל</a>
            </div>
        </div>
        <div class="inter-row regular">
            <div class="inter-share cntr" s-header="המפלצת: דיווח מהקרביים של מכונת המלחמה היקרה ביותר בצה'ל"
                 s-text="עמוס הראל " s-desc="haaretz.co.il"
                 s-img="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg"
                 s-link="http://www.haaretz.co.il/st/c/prod/global/magz/sub2016/2">
                <button class="inter-f">f</button>
                <button class="inter-t">t</button>
                <button class="inter-w hide-me">w</button>
                <button class="inter-m">m</button>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">מפקד אח"י אילת, ספינת הטילים של חיל הים מדגם סער 5, היה מאוד
            לא מרוצה. במשך דקות ארוכות שטה אח"י רהב, צוללת הדולפין החדישה ביותר של חיל הים, במים שמתחתיו, במרחק לא גדול
            ממנו. הצוללת הגיחה מדי פעם כלפי מעלה ועקבה אחר הסטי"ל באמצעות הפריסקופ שלה. הצופים המוצבים על הסטי"ל, חיילים
            שאחד מתפקידיהם הוא זיהוי איומים כאלה, לא הצליחו להבחין בקצה הפריסקופ, שגודלו כגודל אגרוף, מעל פני המים.
            הצוללת תירגלה איסוף מודיעין על הספינה וסביבתה בלי שזוהתה, גם לא כאשר הורדה מהסטי"ל סירת גומי בקרבתה. גם
            מערכות איכון ותצפית אחרות בספינה לא הבחינו ברהב. כשצוות הצוללת פנה אל הסטי"ל ברשת הקשר, באיחור מסוים, והודיע
            שהוא פועל בסביבה, נשמע עלבון בקולו של מפקד הסטי"ל. מפקד הצוללת, סגן־אלוף שלום, לא עשה שום מאמץ להתנצל. כל
            תורת ההפעלה של הצוללות מסתמכת על החשאיות המלאה של עבודתן. במשימה מבצעית, זיהוי בידי אויב עלול לעלות בגורל
            הצוללת ובחיי אנשיה. צוללת אינה מטוס קרב, המסוגל לנתק מגע ממערך ההגנה האווירית של היריב ולצאת מתחום הסכנה
            בתוך כמה עשרות שניות. המשימות שלו ושל מפקד הסטי"ל, לפיכך, הפוכות.</p></div>
        <div class="inter-row full">
            <div class="mps A"><img class="inter-img-w lazyload"
                                    data-src="http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_468xAuto/2000008526.jpg"
                                    data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_300xAuto/2000008526.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_468xAuto/2000008526.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_640xAuto/2000008526.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_748xAuto/2000008526.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_936xAuto/2000008526.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_1496xAuto/2000008526.jpg 1024w"
                                    alt=""
                                    srcset="http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_300xAuto/2000008526.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_468xAuto/2000008526.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_640xAuto/2000008526.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_748xAuto/2000008526.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_936xAuto/2000008526.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062480.1473326013!/image/2000008526.jpg_gen/derivatives/size_1496xAuto/2000008526.jpg 1024w">
                <div class="inter-caption"><span>אח"י רהב</span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">התרגיל, בתחילת השבוע שעבר, הצטלב בהפלגת הפרידה של מפקד שייטת
            הצוללות (שייטת 7) היוצא, אלוף־משנה דורון. בהנחיות הצנזורה הצבאית, שמות המשפחה של הקצינים חסויים. יש מעט
            תחומים שבהם מערכת הביטחון זהירה כל־כך בשחרור פרטים. כשהתקבלו צוללות הדולפין הראשונות מגרמניה מ–1999 ואילך
            (רהב, שנקלטה בחיל הים השנה, היא החמישית במספר) דיווחו כלי תקשורת במערב שישראל ציידה את הצוללות בטילי שיוט
            גרעיניים. הוסבר שבכך בנתה ישראל לעצמה יכולת "מכה שנייה": אם בעתיד תממש איראן את איומה ותשגר טיל בעל ראש נפץ
            גרעיני על ישראל, עליה לדעת בוודאות שצפויה לה מכה גרעינית נגדית, משום שלישראל תהיה יכולת התקפית אלטרנטיבית,
            חסינה מפגיעה. אלה סוגיות שקברניטי המדינה וראשי מערכת הביטחון לעולם אינם מתייחסים אליהן בפומבי. לכל היותר
            מתארים אותן כ"פנטזיות תקשורתיות", בלי להרחיב.
            לכן הניסיון להסביר בפירוט את פעילותה המבצעית של הצוללת, על סמך הפלגת אימון של חצי יום בים התיכון, במרחק קצר
            מחופי חיפה, משול למאמץ של שישה עיוורים לתאר פיל. לא מגבלת הזמן היא הבעיה. גם הפלגה קודמת, שנמשכה שלושה ימים,
            עם צוללת הדולפין הראשונה מול חופי נורבגיה וגרמניה לפני 17 שנה, העלתה רק תוצאות חלקיות.</p></div>
        <div class="inter-row full">
            <div class="mps A"><img class="inter-img-w lazyload"
                                    data-src="http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_468xAuto/4163203524.jpg"
                                    data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_300xAuto/4163203524.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_468xAuto/4163203524.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_640xAuto/4163203524.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_748xAuto/4163203524.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_936xAuto/4163203524.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_1496xAuto/4163203524.jpg 1024w"
                                    alt=""
                                    srcset="http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_300xAuto/4163203524.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_468xAuto/4163203524.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_640xAuto/4163203524.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_748xAuto/4163203524.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_936xAuto/4163203524.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062548.1473323550!/image/4163203524.jpg_gen/derivatives/size_1496xAuto/4163203524.jpg 1024w">
                <div class="inter-caption"><span>המי"ק (מרכז ידיעות הקרב) — לב הצוללת. הרס"ן המביט בפריסקופ עובר חפיפה לתפקיד מפקד הצוללת</span><span>צילום: תומר אפלבאום</span>
                </div>
            </div>
        </div>
        <div class="inter-row regular"><h3 class="th cntr">מועדון סגור</h3></div>
        <div class="inter-row regular"><p class="txt cntr">דורון, מפקד השייטת היוצא, בן 45. הוא נולד בדרום אפריקה, עלה
            לארץ עם משפחתו כתינוק והתגורר בילדותו בעומר וברחובות. את המסלול שלו בחיל הים החל בקורס חובלים ואחר כך שירת
            במערך הסטי"לים, אבל את 22 השנים הבאות בילה בצוללות. עכשיו צפויה לו שנת לימודים, לפני שיועלה לדרגת תת־אלוף
            ויתמנה לתפקיד רגיש באגף המבצעים במטכ"ל. כמו שלום, הוא מאמין שאין בצבא תפקיד שיקנה לו יותר סיפוק מתקופתו
            כמפקד צוללת. "כשפיקדתי על צוללת, אמרתי לעצמי שמאוד משונה שהצבא גם משלם לי על זה משכורת".</p></div>
        <div class="inter-row regular">
            <div class="mps fl-r"><img class="inter-img-w lazyload"
                                       data-src="http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_468xAuto/109710841.jpg"
                                       data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_300xAuto/109710841.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_468xAuto/109710841.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_640xAuto/109710841.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_748xAuto/109710841.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_936xAuto/109710841.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_1496xAuto/109710841.jpg 1024w"
                                       alt=""
                                       srcset="http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_300xAuto/109710841.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_468xAuto/109710841.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_640xAuto/109710841.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_748xAuto/109710841.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_936xAuto/109710841.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062246.1473276396!/image/109710841.jpg_gen/derivatives/size_1496xAuto/109710841.jpg 1024w">
                <div class="inter-caption"><span>תא שינה באח"י רהב. מצטופפים בו שבעה קצינים ונגדים ונדחסות שבע ארוניות לציוד איש</span><span>צילום: תומר אפלבאום</span>
                </div>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">האימון הוא חלק מתקופת ההכשרה הארוכה והמקיפה של קצין בדרגת
            רב־סרן, שאמור להחליף את שלום בתום חמש שנות פיקוד על צוללת. השם "רהב" הוא שמה של מפלצת ימית במקרא (חשוב
            לצוללנים להבהיר שלשם אין דבר וחצי דבר עם יהירות; נראה גם שלא היתה כאן מחווה ליחצן). בשיחות איתם, הקצינים
            חוזרים על הביטוי "מפלצת". זה אכן נראה כתואר מתאים למכונת המלחמה היקרה ביותר שברשות צה"ל. מחיר הצוללת השישית
            שישראל תרכוש מגרמניה כבר יטפס לכ–400 מיליון יורו.</p></div>
        <div class="inter-row regular"><p class="txt cntr">בהפלגה ממושכת, שעשויה להימשך גם חודש ימים, מפקד צוללת הוא
            האחראי המרכזי ובעצם היחיד לצוללת ולחיי כ–50 איש, אנשי צוות ונספחים, המפליגים בה. לאורך המשימה, הקשר שלו עם
            מפקדיו בעורף מינימלי, אם בכלל. הגדלת צי הצוללות של צה"ל משלוש לחמש (ובהמשך, כמתוכנן, לשש) מחייבת הכשרת מפקדי
            צוללות נוספים. אבל זה עדיין מועדון קטנטן וסגור. מפקד צוללת יסומן לתפקידו לקראת גיל 30. הכשרתו, בליווי צמוד
            של מפקדי צוללות ותיקים, תסתיים כיום סביב גיל 32 או 33. בשנים האחרונות אירע פעמיים שתהליך ההסמכה הופסק
            בעיצומו. עם זאת, אף מפקד לא הודח בזמן מילוי תפקידו.</p></div>
        <div class="inter-row regular"><p class="tl fl-l">"בגלל הצפיפות, אי אפשר להימנע ממגע פיזי בצוללת. מספר חדרי
            השירותים והמקלחות הוא קטנטן. יש מדינות, כמו איטליה ומדינות סקנדינביה, שהחליטו שזו לא צריכה להיות מגבלה. נשים
            וגברים מתלבשים ביחד באותו חדר. זה לא נתפס כעניין מיני"</p></div>
        <div class="inter-row regular"><p class="txt cntr">"מפקד צוללת זה 'סטייט אוף מיינד'", אומר דורון. "הוא לא יכול
            לקבל עצות מאף אחד מאחור. זו מנהיגות בתנאי אי־ודאות קיצוניים. כמפקד שייטת, כשאני שולח מפקד צוללת למשימה אני
            צריך לסמוך עליו לחלוטין. הוא זה שיחליט אם לבצע או לא. אני נמצא רחוק ממנו. כשהמצב באמת בעייתי, הוא לא יכול
            לדבר עם אף אחד — והקצין הבא אחריו בשרשרת הפיקוד בצוללת צעיר ממנו בשמונה שנים או יותר. מה שעומד לרשותו זו
            ההכנה הטקטית שעשיתי לו לפני המשימה ותהליך ההכשרה הארוך. הוא זה שמחליט — וייתכן שיעברו עשרה ימים עד שאדבר
            איתו ואשמע מה בדיוק היה, כי שיחה מוקדמת יותר עלולה לחשוף אותו לסיכון".</p></div>
        <div class="inter-row regular"><p class="txt cntr">שלום מאשר: "אין מי שיגיד לך מה לעשות כשאתה שם. אין צ'ק־ליסט
            שאתה לומד בעל פה. מה שמותר היום, ייתכן שיהיה אסור מחר". דורון, שכל התנהלותו והסבריו אנליטיים במובהק, נדרש
            למושגים מתחום אחר כדי להסביר את מהות התפקיד. "פיקוד הוא אירוע רוחני. זה לא בא ממקום של סמכות בלבד. הם
            (הצוות, ע"ה) יודעים שאתה תחזיר אותם בשלום ושבלעדיך זה לא יקרה. מתוקף זה הם נותנים בך אמון. לא תמיד אתה יודע
            להסביר לעצמך לעומק למה פעלת כפי שפעלת. אני מניח שגם אצל טייסים זה כך. ברגע שמפקד צוללת מוסמך, אני אומר לו:
            פיקוד על צוללת צריך לבוא גם מהבטן, לא רק מהראש. אני זוכר את עצמי כמפקד צוללת, מתעורר באמצע הלילה וקופץ
            מהמיטה, כי שמעתי מתוך שינה מישהו נותן דיווח לא נכון ברמקול".</p></div>
        <div class="inter-row regular"><p class="txt cntr">השהות הממושכת בצוללת מחייבת, כמובן, הסתגלות לתנאי צפיפות
            קשים, גם בצוללות החדשות, המרווחות יותר. רק למפקד יש תא קטנטן, המאפשר מידה מזערית של פרטיות. בתא שינה
            מיקרוסקופי מצטופפים שבעה קצינים ונגדים ונדחסות שבע ארוניות לציוד אישי. באגף השמור בכלא צפוף פחות, אף שכאן
            החברה והתנאים, בלי ספק, טובים יותר. פרטיות בשירותים? לא ממש. הדלת בתא צריכה להישאר מעט פתוחה, כדי לאפשר
            במקרה הצורך שימוש בציוד חיוני הנדחס גם שם. השקט הוא תנאי הכרחי. בנסיבות מסוימות, הרעש שיוצרת טריקת דלת
            פנימית בחוזקה עלול להוביל לחשיפת הצוללת. כשצלם "הארץ" תומר אפלבאום מרים את קולו לרגע, הצוללנים מביטים עליו
            בתדהמה.</p></div>
        <div class="inter-row full">
            <div class="mps a"><img class="inter-img-w lazyload"
                                    data-src="http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_468xAuto/3725017338.jpg"
                                    data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_300xAuto/3725017338.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_468xAuto/3725017338.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_640xAuto/3725017338.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_748xAuto/3725017338.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_936xAuto/3725017338.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_1496xAuto/3725017338.jpg 1024w"
                                    alt=""
                                    srcset="http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_300xAuto/3725017338.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_468xAuto/3725017338.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_640xAuto/3725017338.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_748xAuto/3725017338.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_936xAuto/3725017338.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062238.1473323182!/image/3725017338.jpg_gen/derivatives/size_1496xAuto/3725017338.jpg 1024w">
                <div class="inter-caption"><span>שירותים בצוללת אח"י רהב</span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">ובכל זאת, מספר המתגייסים המבקשים לשרת בצוללות גבוה. אחד מעשרה
            עובר את תהליך המיון והגיבוש, אחד מתוך שניים שהתקבלו למסלול עצמו גם יסיים אותו בתוך קצת יותר משנה. מה חיל הים
            מחפש אצל צוללן? "יכולת דחיית סיפוקים, יכולת להסתדר ביחד בעומס כבד של משימות ובצפיפות", אומר דורון. "אתה צריך
            בחור שיבין שהוא לא יכול לריב עם זה שבעמדה לידו, כי אחר־כך הם נשארים ביחד יותר משבועיים ואין אפשרות לנתק מגע.
            זה צריך לבוא גם עם יכולת קוגניטיבית גבוהה ועם משמעת עצמית שתאפשר להם לימוד מהיר של חומר נרחב. במשימה, הצוללת
            נשענת על עצמה לחלוטין. כל צוללן הוא גם טכנאי, שצריך לדעת לטפל בתקלות הטכניות שבתחום אחריותו. לא די לי
            בצנועים שידעו לדחות סיפוקים, ואני לא יכול לקבל אנשים מבריקים אם הם לא מסוגלים לעבוד בצוות. הרבה פעמים משווים
            משימות צבאיות לריצת ספרינט או למרתון. בצוללת זה מירוץ שליחים".
            הקצינים שמשרתים בצוללות מגיעים משני מסלולי שירות עיקריים: בוגרים בולטים של קורס חובלים (למפקד שייטת 7 יש
            זכות בחירה ראשונה מבין מסיימי הקורס) או צוללנים ששימשו כראשי צוותים ויצאו לקצונה בגיל מאוחר יחסית, 25 בערך.
            צוללן מהשורה עובר הכשרה במשך 13 חודשים, חותם 16 חודשי קבע ובסך הכל משרת ארבע שנים. ראשי צוותים משרתים שבע
            שנים ואז רשאים לצאת ללימודים אקדמיים במשך שנתיים. בציים אחרים, לעומת זאת, צוללן חותם מראש ל–12 עד 20 שנה,
            "כך שאני צריך להביא ראש צוות בגיל 22 למלא תפקיד שבצי אחר מתחילים למלא אחרי גיל 30". </p></div>
        <div class="inter-row regular"><p class="txt cntr">לפני כשנה השתתף דורון בכנס בגרמניה עם מפקדי שייטות צוללות
            מ–27 מדינות נוספות. "כל 27 העמיתים שלי דיווחו על בעיות איוש. הולנד וגרמניה מפעילות מחצית מהצוללות שלהן בגלל
            חוסר בצוללנים מקצועיים. גם הצי האיטלקי נמצא במשבר כוח אדם קשה. הגיל הממוצע של הצוללנים שם הוא 37. בזמן
            האחרון הם פתחו את הצוללות לנשים, כדי להשלים שורות. העובדה שהשירות אצלנו קצר יותר כנראה עוזרת להחתים חיילים
            מתאימים". אבל המרכיב העיקרי שעושה את ההבדל במוטיבציה קשור כנראה בתחושת האיום הביטחוני. "אצלנו זו עדיין לא
            עבודה, אלא שירות. אני מניח שבהולנד קשה יותר להגיד לצוללנים: זה חשוב למען המולדת".</p></div>
        <div class="inter-row regular"><p class="tl fl-r">אל"מ דורון: "פיקוד הוא אירוע רוחני. זה לא בא ממקום של סמכות
            בלבד. לא תמיד אתה יודע להסביר לעצמך לעומק למה פעלת כפי שפעלת. אני מניח שגם אצל טייסים זה כך. ברגע שמפקד
            צוללת מוסמך, אני אומר לו: פיקוד על צוללת צריך לבוא גם מהבטן, לא רק מהראש"</p></div>
        <div class="inter-row regular">
            <div class="mps cntr"><img class="inter-img-w lazyload"
                                       data-src="http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_468xAuto/2085248665.jpg"
                                       data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_300xAuto/2085248665.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_468xAuto/2085248665.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_640xAuto/2085248665.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_748xAuto/2085248665.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_936xAuto/2085248665.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_1496xAuto/2085248665.jpg 1024w"
                                       alt=""
                                       srcset="http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_300xAuto/2085248665.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_468xAuto/2085248665.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_640xAuto/2085248665.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_748xAuto/2085248665.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_936xAuto/2085248665.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062264.1473277289!/image/2085248665.jpg_gen/derivatives/size_1496xAuto/2085248665.jpg 1024w">
                <div class="inter-caption"><span>על סיפון אח"י רהב</span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">מאפיין בולט אחר של השירות בצוללות הוא הניתוק המוחלט, הכפוי,
            מהעולם החיצון בזמן הפלגות ארוכות, שאין לו כמעט מקבילה ביחידות מבצעיות אחרות מבחינת משך הזמן והטוטאליות שלו.
            האם זה עדיין אפשרי בעידן שבו צעיר בן 20 פעיל בעולם הדיגיטלי כפי שהוא נוכח בעולם המציאותי, אם לא יותר? דורון
            מודה שהעניין הפך לקשה יותר ושהוא מחייב הכנה רבה יותר. "גם בקורס הצוללן הם מבלים לפעמים שבועות בלי טלפון
            נייד. צריך להעביר אותם תהליך של סוציאליזציה לשירות בצוללות, שתופס גם לגבי ההורים. היום, אם הורה לא תופס את
            הילד במשך עשר דקות הוא כבר מתקשר למשטרה ולמד"א. זו רמת הזמינות שהתרגלנו אליה בחיים. אבל אני אומר להורים של
            הצוללן: תדעו שלא יהיה זמין. ושאם אני מוציא מישהו לים, למבצע, בהתרעה מיידית, הוא לא יכול להתקשר לאמא שלו
            ולהגיד: 'לא אהיה זמין בתקופה הקרובה', כי זה עלול לחשוף את המבצע. אני צריך שההורים יידעו להכיל את חוסר
            הזמינות של הבנים כחלק מהעסקה. עם זאת, לא יכול להיות שהשירות כאן יהיה סיוט להורים. גם זה חלק מהחוזה בינינו
            לבינם. יש להם מספרי טלפון של קצין כוח האדם בשייטת. הם יודעים שאם קורה משהו, נעדכן".</p></div>
        <div class="inter-row regular"><p class="txt cntr">הצוללן לא רק נעדר מהרשתות החברתיות לתקופה ארוכה. גם כשהוא
            פעיל בהן חלים עליו כללי סיווג קפדניים יותר (שאמנם מקובלים גם בחלק מיחידות המודיעין וחיל האוויר). "אתה חוזר
            ממבצע של כמה שבועות מול מדינת אויב. אתה יושב בפאב עם חבר שמספר על מבצע בג'נין — ואני לא מרשה לך להגיד לו
            כלום. אני גם לא מרשה לך להעלות לרשת צילומים שלך על מדים, ובוודאי לא תמונות מהצוללת".
            הקושי הופך למשמעותי יותר כשלאיש הקבע יש משפחה — אשה וילדים. "השייטת מקיימת קשר צמוד עם נשות אנשי הקבע. אנחנו
            מדברים עם כל משפחה פעם בשבוע לפחות בזמן הפלגה מבצעית, כדי לעדכן אותן שהכל בסדר. אנחנו גם שואלים איך הן
            מסתדרות. אם פרצו לה הביתה והבית מבולגן, אני אשלח אנשים מהיחידה לעזור. גם אם יש בעיה עם תיקון מכשיר, שבדרך
            כלל בן הזוג היה דואג לה. אבל זה עדיין יכול להיות מסודר יותר. אנחנו צריכים שיהיה לנו חוזה עם חברה אזרחית
            שתדאג לטיפול השוטף בבעיות אצל המשפחות, שתטפל באותם דברים שבן הזוג היה עושה אם לא היה בהפלגה. העלות של חוזה
            כזה תהיה זניחה בהשוואה לעומס שמוטל על המשפחות ולצורך בתמיכה שלהן בצוללן". תמיכת המשפחות נדרשת גם כשצריך
            לשכנע צוללן לחתום על שנות קבע נוספות. "אני צריך אותו כלוחם עד גיל 25. בהמשך אנחנו זקוקים רק לחלקם. רובם
            עוברים לשירות מילואים. אנשים הולכים מכאן כדי להיות רופאים, מהנדסים, עורכי דין. המדינה צריכה אותם גם שם.
            כשבחור בן 25 אומר לי שהוא הולך ללמוד רפואה, אני לא רב איתו כדי שיישאר אצלי".</p></div>
        <div class="inter-row full">
            <div class="mp a"><img class="inter-img-w"
                                   src="http://www.haaretz.co.il/polopoly_fs/1.3062251.1473324582!/image/469930171.jpg"
                                   alt="">
                <div class="inter-caption"><span>הצוללת אח"י רהב בנמל חיפה</span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><h3 class="th cntr">לא אקס־בוקס</h3></div>
        <div class="inter-row regular"><p class="txt cntr">חלק מהפלגת האימון, הצוללת גם מתרגלת איסוף מודיעין על הנעשה
            בחוף חיפה. הצצה בפריסקופ מעידה על יכולות צילום ותצפית ארוכות טווח. "ממרחק גדול במיוחד אתה יכול לזהות דגם של
            מכונית. ממרחק קרוב יותר, תדע אם האדם שאתה צופה בו מעשן סיגריה", אומר דורון. האימון מאפשר הצצה, אמנם מוגבלת
            מאוד, בתפקיד הצוללות וביכולתן. "אתה יכול להתקרב למקום שבו איש לא יידע שהיית, לבצע פעילות ספציפית או לאסוף
            מודיעין שאי־אפשר להגיע אליו באמצעים אחרים".</p></div>
        <div class="inter-row regular"><p class="tl fl-r">"היום, אם הורה לא תופס את הילד במשך עשר דקות הוא כבר מתקשר
            למשטרה ולמד"א. זו רמת הזמינות שהתרגלנו אליה בחיים. אבל אני אומר להורים של הצוללן: תדעו שלא יהיה זמין. ושאם
            אני מוציא מישהו לים, למבצע, בהתרעה מיידית, הוא לא יכול להתקשר לאמא שלו ולהגיד: 'לא אהיה זמין בתקופה הקרובה',
            כי זה עלול לחשוף את המבצע"</p></div>
        <div class="inter-row regular"><p class="txt cntr">עם כניסת רהב לשירות, מפעילה כעת השייטת מספר גדול משמעותית של
            צוללות בו־זמנית. "זה מכפיל את הפוטנציאל המבצעי שלנו, שהופך לאחר לגמרי. אני יכול לפנות את אחד ממפקדי הצוללות
            לעסוק רק במבצעים. אני רוצה שיחשוב וייזום מבצעים מבוקר עד לילה, לא רוצה שיתעסק לי בכלל בהכשרות ובהסמכות של
            אנשי צוות". במלחמת לבנון השנייה פיקד דורון על אחת הצוללות. "הגענו אז להישגים מרשימים, אבל אני גם יודע מה עוד
            יכולנו לעשות אז ולא עשינו. חיל הים לא ידע אז למה הוא מסוגל, במלחמה מול אויב שכלל אינה מלחמת צוללות קלאסית:
            לא התמודדנו עם משחתות, עם צוללנים". חלק מהשינוי קשור בתגבור העבודה המשותפת עם חיל האוויר וכוחות היבשה. מפקדי
            אוגדות של צה"ל מוזמנים בקביעות להפלגות, במטרה להבהיר להם את יכולות הצוללות ולגבש תוכניות אימונים ובהמשך
            תוכניות מבצעיות משותפות.
            דורון מזהה "נכסים שצוללות יכולות להביא, מעבר לתפקיד הקלאסי שלהן — איסוף מודיעין על ציים ותקיפת כלי שיט.
            אנחנו בתהליך שבו מתאימים את הפוטנציאל לאיומים חדשים יותר, כמו טרור. הצוללת היא גם מפלצת מודיעינית. זו
            פלטפורמה עם יכולות מודיעין מגוונות, בכל התחומים והאמצעים. ויש לה יתרון נוסף: אתה מביא אותה קרוב ליעד האיסוף,
            כשמוביל אותה מפקד צוללת שבמשך יותר מעשר שנים כבר עסק במבצעי מודיעין. זה מקצועו. את כל המידע הרלוונטי לקו
            החוף, הוא יודע להביא. זו יחידה שעושה אלפי שעות בשנה בפעילות מבצעית, בערך מחצית מכלל הפעילות שלה. אני טוען
            שיש מספיק אמצעי אש בצה"ל. מה שצריך זה לאתר עוד מטרות איכות — ואת זה אנחנו יודעים לעשות, מהים".</p></div>
        <div class="inter-row regular">
            <div class="mps fl-l"><img class="inter-img-w lazyload"
                                       data-src="http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_748xAuto/2698532730.jpg"
                                       data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_300xAuto/2698532730.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_468xAuto/2698532730.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_640xAuto/2698532730.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_748xAuto/2698532730.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_936xAuto/2698532730.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_1496xAuto/2698532730.jpg 1024w"
                                       alt=""
                                       srcset="http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_300xAuto/2698532730.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_468xAuto/2698532730.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_640xAuto/2698532730.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_748xAuto/2698532730.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_936xAuto/2698532730.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062612.1473326270!/image/2698532730.jpg_gen/derivatives/size_1496xAuto/2698532730.jpg 1024w">
                <div class="inter-caption"><span></span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">הטלטלה שעובר המזרח התיכון בחמש השנים האחרונות חייבה גם
            שינויים באופי הפעילות של הצוללות. "צריך לבדוק תמיד את הרלוונטיות ולא לפחד לקחת סיכונים. עשינו דברים שלפני
            שנה וחצי לא הייתי מעלה בדעתי שנעשה. היו מקרים שבהם הצורך המבצעי הכתיב מענה חדש, באמצעות הצוללות, בגלל התנועה
            החשאית שלהן — ולדעתי, עוד לא גירדנו את גבול הפוטנציאל".
            חייל שנקלט במסלול הצוללן נחשף למהות הפעילות של השייטת רק לאחר סיום הכשרתו. "בסוף הגיבוש לשייטת אני אומר להם:
            'לכו תראו סרטים על צוללות'. יש מספיק סרטים כאלה בערוץ נשיונל ג'יאוגרפיק. לא אגלה להם פרטים על מהות העבודה
            תוך כדי הקורס, כי לא כולם מסיימים אותו ואנחנו לא יכולים להרשות לעצמנו שהמידע ידלוף. כל הסיפור כאן הוא
            הימנעות מחשיפת הצוללת בזמן הפעילות. אם מחכים לצוללת כשהיא מגיעה למשימה, יש לה בעיה. כשהצוללת בתוך שטח אויב,
            המתח המבצעי מאוד גבוה. נכון, זה שונה ממישהו שיורה עליך באם–16 מהסמטה ממול. אבל כשמשהו משתבש, זה קורה מהר
            מאוד. הצוללת היא פלטפורמה קטנה וסגורה. אם לא תטפל בבעיה מיד, תמצא את עצמך בצרה במהרה".</p></div>
        <div class="inter-row regular"><p class="txt cntr">כשדורון נשאל על טיב הפעילות המבצעית, שלום, מפקד הצוללת, ממהר
            להתנגד. "אלה לא דברים שאפשר להציג. זה לא מטוס אף–16 שאפשר להגיד שתקף מטרה כזו או אחרת. אם נפרט איפה אנחנו
            מסתובבים, יחכו לנו שם. מרגע שצוללת עושה קצת רעש, היא עלולה להיחשף. אתה עדיין יכול לצאת בשלום, אבל זה כבר
            עולה בדם, יזע ודמעות. אין כאן 'סליחה, טעות'. אם גילו אותך, אתה בצרות וזה אומר בלגן. זה לא אקס־בוקס".
            דורון מגלה גישה פתוחה יותר: "בסוף, משלם המסים הישראלי צריך לדעת על מה הוא שם את הכסף. הצוללות הן מרכיב חשוב
            בביטחון הלאומי. אני לא יכול לפרט לו את כל מה שאנחנו עושים, אבל הוא צריך לדעת שזה כלי השיט הכי מתקדם ששט בים
            התיכון. בביטחון לאומי יש הרבה מרכיבים — ואמון הציבור הוא חלק מהם. הפתיחות לציבור היא כמו דוח לבעל המניות. זה
            חשוב לנו גם לגיוס עתידי של צוללנים. בניגוד לעבר, אני לא חושב שאנחנו יכולים לשמור על שתיקה מוחלטת סביב
            הפעילות שלנו".</p></div>
        <div class="inter-row regular">
            <div class="inter-video-container cntr">
                <div class="inter-video-mask" id="twHCc7hsdZk"
                     data-YTparam='{"playlist":"twHCc7hsdZk","controls":"0","autoplay":"0","wmode":"transparent","loop":"0","modestbranding":"1","rel":"0","showinfo":"0"}'>
                </div>
            </div>
            <div class="inter-caption"><span></span><span></span></div>
        </div>
        <div class="inter-row regular"><p class="txt cntr">לקראת 2020 אמור חיל הים לקלוט את הצוללת השישית והאחרונה
            בפרויקט. שמה, חרף הרגישות הכרוכה בכך, יהיה "דקר", על שם הצוללת שטבעה ב–1968. מפקד חיל הים, האלוף רם רוטברג,
            קיבל את המלצת השייטת לאימוץ השם הטעון. "היו משפחות שכולות שהתנגדו. מפקד חיל הים ואני עברנו ביניהן כדי להסביר
            את עמדתנו. אני חושב שהגיעה העת לכך, ושזו תהיה הנצחה ראויה, בייחוד כיום, כשאנחנו כבר יודעים היכן טבעה דקר ומה
            אירע".</p></div>
        <div class="inter-row regular"><p class="tl fl-l">"אנחנו בתהליך שבו מתאימים את הפוטנציאל לאיומים חדשים יותר, כמו
            טרור. הצוללת היא גם מפלצת מודיעינית. זו פלטפורמה עם יכולות מודיעין מגוונות, בכל התחומים והאמצעים"</p></div>
        <div class="inter-row regular"><p class="txt cntr">לפני כחמש שנים התעוררה מחלוקת חריפה סביב רכישת הצוללת השישית.
            בכירים בצה"ל סברו שאין צורך בצוללת נוספת, אולם שר הביטחון אז, אהוד ברק, התעקש על כך ושיכנע את ראש המששלה,
            בנימין נתניהו, בנחיצותה של עוד צוללת. עד היום הושקעו בפרויקט כ–2.5 מיליארד יורו. לפי פקידים בממשלת גרמניה,
            תרמו הגרמנים כמעט מחצית מהסכום. הדבר נעשה כפיצוי מאוחר לישראל, לאחר שבמלחמת המפרץ הראשונה, ב–1991, נחשפה
            מעורבות של חברות גרמניות בייצור נשק כימי בשביל משטרו של נשיא עיראק, סדאם חוסיין.</p></div>
        <div class="inter-row regular"><p class="txt cntr">שלוש הצוללות האחרונות בסדרה, תנין, רהב ודקר, מצוידות במערכות
            הנעה פנימית שאינן תלויות באוויר החיצון ולכן אינן צריכות לצוף על פני המים בתכיפות כדי לקבל אספקת אוויר.
            בהתאם, הצוללות גם ארוכות מקודמותיהן ב–12 מטר כל אחת. אורך החיים המבצעי של צוללות הדולפין מוערך ב–30 שנה או
            מעט יותר. ובכל זאת, בתדרוך עם בכיר בצה"ל אשתקד התברר שאגף התכנון במטכ"ל נערך לאפשרות של השבתת הצוללת
            הראשונה, הדולפין, עם הקליטה המבצעית של הצוללת השישית, דקר. נראה שההתלבטות קשורה בעלויות האחזקה הגבוהות של
            הצוללות יותר מאשר בתוחלת החיים המבצעית שלהן. מפקד השייטת מודה ש"גם בתוך צה"ל אנחנו עדיין לא אירוע מובן
            מאליו. הצבא, בגדול, תמיד רוצה עוד מטוסים, לא צוללות. התנגדויות היו לאורך כל השנים, עוד מימי דוד בן־גוריון
            ושמעון פרס בסוף שנות החמישים, שכפו על חיל הים רכש צוללות ראשונות, במקום משחתות".</p></div>
        <div class="inter-row full">
            <div class="mps a"><img class="inter-img-w lazyload"
                                    data-src="http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_748xAuto/3031093737.jpg"
                                    data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_300xAuto/3031093737.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_468xAuto/3031093737.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_640xAuto/3031093737.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_748xAuto/3031093737.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_936xAuto/3031093737.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_1496xAuto/3031093737.jpg 1024w"
                                    alt=""
                                    srcset="http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_300xAuto/3031093737.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_468xAuto/3031093737.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_640xAuto/3031093737.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_748xAuto/3031093737.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_936xAuto/3031093737.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062600.1473325728!/image/3031093737.jpg_gen/derivatives/size_1496xAuto/3031093737.jpg 1024w">
                <div class="inter-caption"><span></span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular"><h3 class="th cntr">שטח סגור לנשים</h3></div>
        <div class="inter-row regular"><p class="tl fl-r">"ממרחק גדול במיוחד אתה יכול לזהות דגם של מכונית. ממרחק קרוב
            יותר, תדע אם האדם שאתה צופה בו מעשן סיגריה. אתה יכול להתקרב למקום שבו איש לא יידע שהיית, לבצע פעילות ספציפית
            או לאסוף מודיעין שאי־אפשר להגיע אליו באמצעים אחרים"</p></div>
        <div class="inter-row regular"><p class="txt cntr">בעניין אחד לא חל שום שינוי ב–17 השנה שחלפו מאז קליטת צוללת
            הדולפין הראשונה. בחיל הים הישראלי, הצוללות נותרו שטח סגור לנשים. קצינות וחיילות משרתות כטייסות קרב ונווטות
            קרב, כמפקדות בספינות הטילים, כמפקדות ולוחמות בגדודי תותחנים, כלוחמות במשמר הגבול — אך לא בצוללות, כפי שהן
            מנועות עדיין משירות ביחידות המסתערות של מערך החי"ר או כנשות צוות בטנק. ב–1999, המפקדים הבטיחו שהאפשרות לשלב
            צוללניות בשירות נבדקת ודבר לא אירע. דורון אומר שלאחרונה התקיימה בדיקה נוספת, אבל המסקנות לא השתנו. "בגלל
            הצפיפות, אי אפשר להימנע ממגע פיזי בצוללת. מספר חדרי השירותים והמקלחות הוא קטנטן. יש מדינות, כמו איטליה
            ומדינות סקנדינביה, שהחליטו שזו לא צריכה להיות מגבלה. נשים וגברים מתלבשים ביחד באותו חדר. זה לא נתפס כעניין
            מיני. אצלנו, בכל קורס חובלים מסיימות אשה או שתיים. בסטי"לים התנאים מרווחים יותר. אפשר לסגור אזור קטן לנשים
            בלבד וליצור מעט פרטיות. אבל אני בטוח שאם נשאל אותן, יהיו כאלה שירצו לשרת בצוללות".</p></div>
        <div class="inter-row regular"><p class="txt cntr">דורון סבור שמהלך כזה עשוי להיות מוצדק אם יגיע מספר גדול דיו
            של צוללניות, לא אחת או שתיים. "אני חושב שהאופן שבו הצוללות בנויות היום לא עומד בכללים של מה שצה"ל הגדיר
            ככללי השילוב הראוי, התנאים הנדרשים לשירות משותף של חיילים משני המינים. בסטי"ל זה אפשרי. בצוללת זה אומר
            שמתקלחים ביחד, שמחליפים בגדים בחדר ששטחו מטר וחצי מרובע, שהולכים למקלחת בתחתונים, כי אין אפילו מקום לתלות שם
            בגדים. ביקשנו מידע מחיל הים האמריקאי, שהכניס נשים לצוללות לפני שנתיים. אבל לאמריקאים יש 72 צוללות, שחלקן
            גדולות יותר, אז יש להם מקום לתמרון. האוסטרלים שילבו שש נשים בצוללות שלהם, שגם הן גדולות יותר, והקצו להן אזור
            מסוים. כשאשה חלתה, היא הוחלפה באשה אחרת. נוצרו בעיות שיבוץ. האיטלקים הכתירו את הניסוי ככישלון. בדנמרק זה הלך
            טוב יותר. כבר היתה להם אשה ששירתה כמפקדת צוללת.
            "הדיון על שילוב נשים בצוללות לגיטימי. יש דעות לכאן ולכאן. אף אחד פה לא יסרב לפקודה להכניס נשים לצוללות.
            לדעתי, בתנאים הפיזיים הנוכחיים בצוללות, זה לא יהיה מהלך נכון. אם יעשו את זה בעתיד, צריך לתכנן את זה כמו
            שצריך. כבר הבאנו חובלות להפלגות ניסיון בצוללת ושאלנו אותן לגבי הדילמות והמורכבויות. אין כאן בעיה של אמונות
            טפלות — בעבר היו ציים שבהם ימאים לא ראו בעין יפה נוכחות נשים בחלקים מן הספינה. זו גם לא בעיה של איפוק. מתח
            מיני אפשרי בהפלגה ארוכה עשוי להפוך אותה למורכבת יותר, אבל לא זה מה שישבור צוללן, שרגיל להתמודד עם ויתור על
            הרבה דברים".</p></div>
        <div class="inter-row regular">
            <div class="mps cntr"><img class="inter-img-w lazyload"
                                       data-src="http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_468xAuto/1702849012.jpg"
                                       data-srcset="http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_300xAuto/1702849012.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_468xAuto/1702849012.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_640xAuto/1702849012.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_748xAuto/1702849012.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_936xAuto/1702849012.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_1496xAuto/1702849012.jpg 1024w"
                                       alt=""
                                       srcset="http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_300xAuto/1702849012.jpg 300w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_468xAuto/1702849012.jpg 468w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_640xAuto/1702849012.jpg 640w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_748xAuto/1702849012.jpg 748w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_936xAuto/1702849012.jpg 936w, http://www.haaretz.co.il/polopoly_fs/1.3062620.1473326705!/image/1702849012.jpg_gen/derivatives/size_1496xAuto/1702849012.jpg 1024w">
                <div class="inter-caption"><span></span><span>צילום: תומר אפלבאום</span></div>
            </div>
        </div>
        <div class="inter-row regular">
            <div class="inter-emb-wrapper cntr">
                <div class="inter-emb">
                    <hr>
                </div>
                <div class="inter-caption"><span></span><span></span></div>
            </div>
        </div>
        <div class="inter-row regular"><h3 class="th cntr">הנטישה האמריקאית</h3></div>
        <div class="inter-row regular"><p class="txt cntr">הזירה הימית שבתוכה פועלות הצוללות של שייטת 7 השתנתה לא רק
            בגלל הטלטלה בעולם הערבי, שריסקה רבות ממדינות האזור, אלא גם בשל התנודות בהתנהלות המעצמות. ארצות הברית, שהיתה
            פעם השחקנית הדומיננטית ביותר באזור, צימצמה את מעורבותה בנעשה ובהתאם גם הפחיתה את פעילותה הימית במזרח הים
            התיכון. לעומת זאת, ולא בלי קשר לכך,&nbsp;גדלה הנוכחות הצבאית הרוסית&nbsp;באותם אזורים.</p></div>
        <div class="inter-row regular"><p class="txt cntr">המרכז לאסטרטגיה ימית הוא גוף חדש יחסית, שהוקם באוניברסיטת
            חיפה. בחודש שעבר סוכמה עבודה משותפת של אנשי המרכז וחוקרים ממכון הדסון האמריקאי, שבחנו את המציאות האסטרטגית
            החדשה בים התיכון. במפגשים השתתפו, בין היתר, מן הצד הישראלי, מפקד חיל הים (וראש השב"כ) לשעבר, האלוף (מיל')
            עמי אילון; מי שהיה סגן מפקד החיל וראש הוועדה לאנרגיה אטומית, תא"ל (מיל') שאול חורב; פרופ' איתן ששינסקי ורון
            פרושאור, לשעבר שגריר ישראל באו"ם.</p></div>
        <div class="inter-row regular"><p class="txt cntr">צוותי העבודה מישראל ומארצות הברית מתארים נטישה אמריקאית של
            הים התיכון. כוחות הצי השישי האמריקאי דוללו בהדרגה וכיום משייטות רק אוניית פיקוד אחת וכמה משחתות במערב הים
            התיכון. לתוך החלל שנוצר נכנסו כוחות ימיים מתוגברים של רוסיה, בים השחור ובקרבת חופי סוריה. בין ההתפתחויות
            המרכזיות האחרות בשנים האחרונות: גלי הפליטים המנסים להפליג לאירופה מסוריה ומצפון אפריקה, העלייה באיום הטרור
            של דאעש ופיתוח איום הנשק המדויק של חיזבאללה על המאגרים ומתקני הגז של ישראל בים התיכון.</p></div>
        <div class="inter-row regular"><p class="txt cntr">שאול חורב אמר ל"הארץ", "רוסיה הגיעה לשליטה מסיבית במזרח הים
            התיכון, באמצעות הפעלת הנמל הסורי טרטוס, הנוכחות המתוגברת של ספינותיה ותקיפת מטרות של ארגוני מורדים בסוריה
            באמצעות ירי טילים מן הים. הרוסים מנצלים את החלל שהשאירו האמריקאים ובנסיבות קיצוניות יכולים להחליט שהם מונעים
            גישה למזרח אגן הים התיכון מספינות אחרות. כבר כעת חופש הפעולה הישראלי מוגבל יותר בשל הנוכחות הרוסית בזירה.
            ישראל צריכה להיות מודעת לכך, כפי שעליה להיות מודעת גם להזדמנויות האפשריות שנוצרות בשל המצב החדש בים".</p>
        </div>
        <div class="inter-row regular"><p class="txt cntr">לדבריו, "ישראל עוד לא קבעה את האסטרטגיה רבתי שלה בזירה הימית.
            יש כאן שורה ארוכה של סוגיות: כמה גז מייצאים ולמי? האם עדיין אפשר להסתמך על צים כמקור תובלת חירום לישראל,
            כשמניחים שבזמן מלחמה הנמלים יהיו משותקים, כשצי הספינות שלה מיושן ורוב המלחים הם אזרחים זרים? יש כאן עניינים
            רבים המחייבים דיון, הרבה מעבר לשאלה כיצד מפעילים את חיל הים".</p></div>
        <div class="inter-row regular"><p class="txt cntr">עמי אילון הוסיף, "ברור לגמרי שתפקיד חיל הים כבר אינו מתמצה
            באבטחת נתיבי שיט או בהגנה מהתקפה אפשרית על הנמלים. עכשיו הוא כבר צריך להגן על אינטרסים אסטרטגיים של ישראל
            במרחב הימי. כל שאלת ההגנה על המים הכלכליים לא היתה רלוונטית בכלל לפני עשר שנים. מבחינה גיאו־אסטרטגית, ישראל
            היתה ונותרה אי. 97% מהאספקה שלנו מגיעה מהים. ישראל צריכה להבין את כל המורכבויות החדשות ועל סמך זה לפתח לעצמה
            אסטרטגיה לאומית בתחום הימי".</p></div>
    </div>
</div>
<div class="row regular">
    <footer>
        <p class="icon logo">H</p>
        <p class="links">
            <a href="http://www.haaretz.co.il/misc/editors">מערכת</a>
            <a href="http://www.haaretz.co.il/misc/management">הנהלה</a>
            <a href="http://www.haaretz.co.il/misc/about-haaretz">אודות הארץ</a>
            <a href="http://www.haaretz.co.il/misc/jobs">דרושים</a>
            <a href="http://www.haaretz.co.il/misc/contact-us">צור קשר</a>
            <a href="http://www.haaretz.co.il/promotions-page"><strong>עשה מנוי</strong></a>
            <a href="http://www.haaretz.co.il/misc/faq">שאלות ותשובות</a>
            <a href="mailto:sales-internet@themarker.com"><strong>פרסם אצלנו</strong></a>
        </p>
        <p class="icon logos">
            <a href="http://www.haaretz.co.il/misc/rss" aria-label="rss">2</a>
            <a href="http://www.haaretz.co.il/misc/redemail" aria-label="red mail">m</a>
            <a href="https://plus.google.com/100883851361980606872/posts" aria-label="+google">g</a>
            <a href="https://itunes.apple.com/us/app/id521559643" aria-label="apple app">a</a>
            <a href="https://play.google.com/store/apps/details?id=com.haaretz" aria-label="android app">A</a>
            <a href="https://twitter.com/haaretz" aria-label="twitter page">t</a>
            <a href="http://www.facebook.com/haaretz" aria-label="facebook page">f</a>
        </p>
        <p class="rights">
            חדשות, ידיעות מהארץ והעולם - הידיעות והחדשות בעיתון הארץ. סקופים, מאמרים, פרשנויות ותחקירי עומק באתר
            האיכותי
            בישראל<br><br>
            © כל הזכויות שמורות להוצאת עיתון הארץ בע"מ
        </p>
    </footer>
</div>
<!-- Main Element End -->

<script src="http://www.haaretz.co.il/st/c/static/resources/js/jquery/jquery-2.1.4.min.js"></script>
<!--<script src="http://www.haaretz.co.il/st/c/static/resources/js/xl/xl.min.300415.js"></script>-->
<script src="http://www.haaretz.co.il/st/c/static/cdn/interext-311215.min.js"></script>


<!-- build:remove -->
<!--<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/mag_builder.js"></script>-->
<!--<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/bundle.js"></script>-->
<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/bundle.js"></script>
<!--<script src="js/main-mag.js"></script>-->
<script src="js/youtubemask.js?090920162138"></script>
<script src="js/main.js?v090920162047"></script>
<!-- /build -->
<!-- build:template
<script src="http://www.haaretz.co.il/st/c/static/bundle/bundle-2.0.1.min.js"></script>
<script src="<%= prodUrl %>js/<%= name %>-main.min.js"></script>
 /build -->

<!-- Analytics Tag Start -->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-589309-3']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- Analytics Tag End -->
<!-- Chartbeat Tag Start -->
<script>
    var _sf_async_config = {uid: 5952, domain: "haaretz.co.il", useCanonical: true, sections: "interactive"};
    (function () {
        function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                    "static.chartbeat.com/js/chartbeat.js");
            document.body.appendChild(e);
        }

        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function () {
            oldonload();
            loadChartbeat();
        };
    })();
</script>
<!-- Chartbeat Tag End -->
</body>
</html>