<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ביקור באח"י רהב, צוללת הדולפין החדישה ביותר בצה"ל - הארץ</title>
    <meta name="description" content='עמוס הראל התלווה להפלגת אימון באח"י רהב, צוללת הדולפין החדישה ביותר בחיל הים, ושמע מהצוות על ייחודיות השירות'>
    <link rel="canonical" href="http://www.haaretz.co.il/st/c/prod/global/magz/sub2016/0"/>
    <meta property="og:title" content='המפלצת: דיווח מהקרביים של מכונת המלחמה היקרה ביותר בצה"ל'/>
    <meta property="og:type" content="Article"/>
    <meta property="og:url" content="http://www.haaretz.co.il/st/c/prod/global/magz/sub2016/0"/>
    <meta property="og:image" content="http://www.haaretz.co.il/polopoly_fs/1.3062525.1473326990!/image/1003451774.jpg">
    <meta property="og:description" content='עמוס הראל התלווה להפלגת אימון באח"י רהב, צוללת הדולפין החדישה ביותר בחיל הים, ושמע מהצוות על ייחודיות השירות'/>

    <!--<script src="http://www.haaretz.co.il/st/c/static/resources/js/interdfp/inter-dfp.min.js"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->

    <!-- build:remove -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_heb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/project_styles.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" type="text/css" href="<%= prodUrl %>stylesheets/<%= name %>-styles.min.css">
     /build -->
</head>
<body>
<!-- Facebook init -->
<script>
    window.fbAsyncInit = function () {
        FB.init({appId: 110687712359084, status: true, xfbml: true});
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End of Facebook init -->
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MHZ2NZ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })
    (window, document, 'script', 'dataLayer', 'GTM-MHZ2NZ');
</script>
<!-- End Google Tag Manager -->
<!-- Main Element Start -->
<div class="inter_vale">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
            <g id="lower">
                <circle class="alef-bg" cx="80" cy="80" r="50"/>
                <path class="alef" d="M100.281,68.29l2.867-1.655c0.439,1.038,0.813,1.661,0.813,1.661S102.515,68.293,100.281,68.29z
  		 M72.541,93.58c0,0-4.308-0.04-8.036,0c-1.929,0.022-3.277-0.844-4.204-2.207l-4.653,2.686c-0.612,5.78-1.794,10.405-2.4,12.212
  		c-0.464,0.86,0.084,0.932,0.084,0.932h21.388C70.909,99.456,72.541,93.58,72.541,93.58z M104.421,87.988
  		c-5.284-3.548-9.372-6.944-16.08-11.5c-0.273-0.185-0.525-0.496-0.742-0.875l-12.45,7.188l31.58,23.203
  		c-0.072-0.144,0.264-0.152,0.2-0.292c-1.436-2.984-2.436-6-2.944-9.076C103.341,92.728,103.593,91.712,104.421,87.988z"/>
            </g>
            <g class="commet-wrapper">
                <path class="commet" d="M0,70c35.899,0,48-31.34,48-70c0-19,27-19,27,0C75,38.66,41.421,70,0,70z">
                </path>
            </g>
            <g id="upper">
                <path class="alef-bg"
                      d="M123.3,55C109.493,31.086,78.914,22.893,55,36.7S22.893,81.086,36.7,105L123.3,55z"/>
                <path class="alef" d="M55.785,65.404c-0.544,5.612-1.276,6.4-1.268,11.048c0.004,5.068,1.708,9.352,1.404,14.356
  		c-0.066,1.117-0.161,2.201-0.272,3.251l2.933-0.382l1.72-2.305c-1.925-2.832-2.004-7.837-1.52-11.661
  		c0.548-4.304,3.132-6.432,3.328-6.492l13.04,9.581l7.962-2.317l4.488-4.871c-0.509-0.887-0.812-2.186-0.622-3.397
  		c0.352-2.192,2.24-3.932,4.084-3.932c3.468,0,6.805,0.003,9.22,0.006l2.518-0.469l0.35-1.186c-1.148-2.713-2.76-8.355,0.561-13.831
  		c-16.072,0-18.04-0.008-18.04-0.008c0,1.228-0.672,2.784-0.528,5.372c0.148,2.664,1.812,4.844,0.756,8.856
  		c-0.828,3.144-1.864,4.552-2.776,5.152c-8.428-6.264-20.696-15.256-25.836-19.34l-3.508-0.004c0,0-0.312-0.048-0.208,0.164
  		C55.397,56.592,56.177,61.328,55.785,65.404z"/>
            </g>
        </svg>
    </div>
</div>
<div class="inter-mc w-check">
</div>
<div class="row regular">
    <footer>
        <p class="icon logo">H</p>
        <p class="links">
            <a href="http://www.haaretz.co.il/misc/editors">מערכת</a>
            <a href="http://www.haaretz.co.il/misc/management">הנהלה</a>
            <a href="http://www.haaretz.co.il/misc/about-haaretz">אודות הארץ</a>
            <a href="http://www.haaretz.co.il/misc/jobs">דרושים</a>
            <a href="http://www.haaretz.co.il/misc/contact-us">צור קשר</a>
            <a href="http://www.haaretz.co.il/promotions-page"><strong>עשה מנוי</strong></a>
            <a href="http://www.haaretz.co.il/misc/faq">שאלות ותשובות</a>
            <a href="mailto:sales-internet@themarker.com"><strong>פרסם אצלנו</strong></a>
        </p>
        <p class="icon logos">
            <a href="http://www.haaretz.co.il/misc/rss" aria-label="rss">2</a>
            <a href="http://www.haaretz.co.il/misc/redemail" aria-label="red mail">m</a>
            <a href="https://plus.google.com/100883851361980606872/posts" aria-label="+google">g</a>
            <a href="https://itunes.apple.com/us/app/id521559643" aria-label="apple app">a</a>
            <a href="https://play.google.com/store/apps/details?id=com.haaretz" aria-label="android app">A</a>
            <a href="https://twitter.com/haaretz" aria-label="twitter page">t</a>
            <a href="http://www.facebook.com/haaretz" aria-label="facebook page">f</a>
        </p>
        <p class="rights">
            חדשות, ידיעות מהארץ והעולם - הידיעות והחדשות בעיתון הארץ. סקופים, מאמרים, פרשנויות ותחקירי עומק באתר
            האיכותי
            בישראל<br><br>
            © כל הזכויות שמורות להוצאת עיתון הארץ בע"מ
        </p>
    </footer>
</div>
<!-- Main Element End -->

<script src="http://www.haaretz.co.il/st/c/static/resources/js/jquery/jquery-2.1.4.min.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/resources/js/xl/xl.min.300415.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/cdn/interext-311215.min.js"></script>


<!-- build:remove -->
<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/mag_builder.js?v1"></script>
<!--<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/bundle.js"></script>-->
<script src="http://www.haaretz.co.il/st/c/work/elijahu/engines/tests/bundle/2/bundle.js"></script>
<script src="js/main-mag.js"></script>
<!--<script src="js/main.js"></script>-->
<!-- /build -->
<!-- build:template
<script src="http://www.haaretz.co.il/st/c/static/bundle/bundle-2.0.1.min.js"></script>
<script src="<%= prodUrl %>js/<%= name %>-main.min.js"></script>
 /build -->

<!-- Analytics Tag Start -->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-589309-3']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- Analytics Tag End -->
<!-- Chartbeat Tag Start -->
<script>
    var _sf_async_config = {uid: 5952, domain: "haaretz.co.il", useCanonical: true, sections: "interactive"};
    (function () {
        function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                    "static.chartbeat.com/js/chartbeat.js");
            document.body.appendChild(e);
        }

        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function () {
            oldonload();
            loadChartbeat();
        };
    })();
</script>
<!-- Chartbeat Tag End -->
</body>
</html>