<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title></title>
    <meta name="description" content="">
    <link rel="canonical" href=""/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content="">
    <meta property="og:description" content=""/>

    <script src="aos/aos.js"></script>
    <!-- build:remove -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_tm.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/project_styles.css">
    <link rel="stylesheet" type="text/css" href="aos/aos.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" type="text/css" href="<%= prodUrl %>stylesheets/<%= name %>-styles.min.css">
     /build -->
</head>
<body>
<div class="fullscreen-bg">
    <video loop muted autoplay id="bgvid" class="fullscreen-bg__video">
        <source src="vid/mp4.mp4" type="video/mp4">
        <source src="vid/webm.webm" type="video/webm">
    </video>
</div>
<!-- Facebook init -->
<script>
    window.fbAsyncInit = function () {
        FB.init({appId: 52929925921, status: true, xfbml: true});
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End of Facebook init -->
<div class="inter-bar w-check">
    <div class="menu_button">
        <button class="inter-menu_button cmn-toggle-switch cmn-toggle-switch__htx"><span>ניווט</span></button>
    </div>
    <ul class="menu_list">
        <li><a class="scrollease off50" href="#chap0">ראשי</a></li>
        <li><a class="scrollease off50" href="#chap1">פתיחה</a></li>
        <li><a class="scrollease off50" href="#chap2">נדל"ן</a></li>
        <li><a class="scrollease off50" href="#chap3">שכר</a></li>
        <li><a class="scrollease off50" href="#chap4">משפחה וצריכה</a></li>
        <li><a class="scrollease off50" href="#chap5">חינוך</a></li>
        <li><a class="scrollease off50" href="#chap6">בריאות</a></li>
        <li><a class="scrollease off50" href="#chap7">כלכלה</a></li>
        <li><a class="scrollease off50" href="#chap8">תיירות ופנאי</a></li>
    </ul>
    <a href="http://www.themarker.com" target="_blank"><span class="hid">דהמרקר</span>
        <div class="inter-bar_logo"><img src="http://www.themarker.com/st/c/static/resources/img/logos/tmlabels.png">
        </div>
    </a>
    <div class="inter-bar_shares" s-header="header" s-text="text" s-desc="desc"
         s-img="" s-link="http://www.themarker.com">
        <button class="inter-f" s-type="main">f</button>
        <button class="inter-t" s-type="main">t</button>
    </div>
</div>
<!-- Main Element Start -->
<div class="inter-mc w-check">
    <div id="chap0" class="chapter">
        <div class="inter-row flush" style="margin:0 auto !important">
            <div id="item5" class="op" style="background-size:cover;background-color:#424242;background-image:url(img/redplex.jpg)">
                 <!--style="background-image:url(https://unsplash.it/1920/1080?image=1031)">-->
                <div class="opAbsCont">
                    <div class="opCont">
                        <div class="opHead" style="color:#fff">רעידת האדמה של הפינטק</div>
                        <div class="opSubhead" style="color:#fff">כותרת משנה פרויקט מיוחד</div>
                        <a class="scrollease off50" href="#">
                            <div  style="color:#fff" id="chevron"></div>
                        </a></div>
                </div>
            </div>
        </div>
        </div>
    <div id="chapA" class="chapter">
        <div class="inter-row regular">
            <p id="mo" class="tm cntr">
                לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי
                מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. קולורס מונפרד אדנדום סילקוף, מרגשי
                ומרגשח.
            </p>
        </div>
        <div class="inter-row regular">
            <div class="c cntr"><a href="#" target="_blank">רועי שלומי</a></div>
        </div>
        <div class="inter-row regular">
            <div class="inter-share cntr" s-header="קצת שלווה, זה כל מה שביקשנו"
                 s-text="חופשת הספא האידיאלית -  12 הצעות" s-desc="haaretz.co.il" s-img="" s-link="#">
                <button class="inter-f">f</button>
                <button class="inter-t">t</button>
                <button class="inter-w hide-me">w</button>
                <button class="inter-m">m</button>
            </div>
        </div>
    </div>
    <div id="chapB" class="chapter">
        <div class="inter-row regular"><p class="txt cntr">הצוואר שוב תפוס? תרגילי השחרור כבר לא עוזרים? זה הזמן לטבול
            במעיין או באמבט מים חמים או קרים ולצאת לחופשת ספא. בין אם היא נמשכת יום אחד בלבד או שלושה שבועות, חופשה
            שכזו, היא לפעמים הכרחית, ועכשיו, באוגוסט הישראלי, היא אולי הכרחית יותר מתמיד.
        </p>

        </div>
        <div class="inter-row regular">
            <div class="gg graphs">
                <div class="x12of12 l12of12 m12of12 s12of12 t12of12 open-graph arrow_box_down" style="padding:24px !important">
                    <h2>כותרת הגרף</h2>
                    <p>
                        צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                        קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף
                        סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש.
                        קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                        בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם
                        השמה - לתכי מורגם בורק? לתיג ישבעס.
                    </p>
                </div>
            </div>
        </div>
        <div class="inter-row full">
            <div id="graph1" class="graph"></div>
            <div class="gg graphs">
                <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                    <h2>כותרת הגרף</h2>
                    <p>
                        צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                        קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף
                        סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש.
                        קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                        בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם
                        השמה - לתכי מורגם בורק? לתיג ישבעס.
                    </p>
                    <div id="graph2" class="graph"></div>
                </div>
                <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                    <h2>כותרת הגרף</h2>
                    <p>
                        צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                        קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף
                        סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש.
                        קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                        בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם
                        השמה - לתכי מורגם בורק? לתיג ישבעס.
                    </p>
                    <div id="graph3" class="graph"></div>
                </div>
            </div>
        </div> <!-- end of chap 0 -->
        <div class="inter-row full featuresheadline">
            <h1>כותרת פיצ'רים</h1>
        </div>
        <div class="chapter" id="chap1">
            <div class="inter-row full featureslist">
                <div class="gg">
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div  data-aos="flip-down" data-aos-delay="100" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                    <div class="x6of12 l6of12 m6of12 s12of12 t12of12">
                        <div data-aos="flip-down" class="feature">
                            <h2>כותרת פיצ'ר</h2>
                            <img class="inter-img-w"
                                 src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif"/>
                            <p>
                                צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. נולום ארווס סאפיאן - פוסיליס
                                קוויס, אקווזמן קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק -
                                וענוף
                                סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם
                                גדדיש.
                                קוויז דומור ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ
                                בעריר גק ליץ, ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו
                                סתשם
                                השמה - לתכי מורגם בורק? לתיג ישבעס.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inter-row full featuresheadline">
            <h1>כותרת חברות פינטק</h1>
        </div>
        <div class="chapter" id="chap2">
            <div class="inter-row full">
                <div class="companies">
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <a href="#vale">
                        <div data-aos="zoom-in" data-aos-delay="0" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="100" class="company">
                            <div class="company_container">
                                <span>שם חברה</span>
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="200" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="300" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="400" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="100" class="company">
                            <div class="company_container">
                                <span>שם חברה</span>
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="200" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="300" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="400" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="100" class="company">
                            <div class="company_container">
                                <span>שם חברה</span>
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="200" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                    <div class="x3of12 l3of12 m6of12 s6of12 t6of12">
                        <div data-aos="zoom-in" data-aos-delay="300" class="company">
                            <div class="company_container">
                                <img class="inter-img-w"
                                     src="http://www.themarker.com/st/c/static/resources/img/thumb_marker.gif">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="vale" class="vale">
    <div id="modal">
        <a id="closer" href="#close"><div class="closeVale">x</div></a>
        <h1 id="companyname">שם החברה</h1>
        <span class="companylabel">נוסדה: </span><span id="companyyear">8888</span><br>
        <span id="companyslogan">סלוגן חברה</span><br>
        <p id="companydetails">פרטי חברה</p>
        <span class="companylabel">מספר עובדים: </span><span id="numberofemploy">8888</span><br>
        <span class="companylabel">כתובת משרדים: </span><span id="companyoffice">משרדים</span><br><br>
        <span class="companylabel">אתר: </span><a id="companywebsite" href="#" target="_blank">אתר החברה</a><br>
        <span class="companylabel">תחום: </span><span id="companyfield">תחום</span><br>
        <span class="companylabel">מייסדים: </span><span id="companyfounders">מייסדים</span><br>
        <span class="companylabel">שלב המימון: </span><span id="fundstage">שלב המימון</span><br>
        <span class="companylabel">השקעה עד עכשיו: </span><span id="investment">השקעה עד עכשיו</span><br>
        <span class="companylabel">משקיעים: </span><span id="investors">משקיעים</span>

    </div>
</div>

    <!-- Main Element End -->

    <script src="http://www.themarker.com/st/c/static/resources/js/jquery/jquery-2.1.4.min.js"></script>
    <script src="http://www.themarker.com/st/c/static/resources/js/highcharts/418/highcharts.js"></script>
    <!--<script src="http://www.themarker.com/st/c/static/resources/js/xl/xl.min.300415.js"></script>-->
    <script src="http://www.themarker.com/st/c/static/cdn/interext-311215.min.js"></script>
    <!--<script src="http://www.themarker.com/st/c/work/elijahu/engines/tests/bundle/2/mag_builder.js"></script>-->
    <script src="http://www.themarker.com/st/c/work/elijahu/engines/tests/bundle/2/bundle.js"></script>
    <!--<script src="js/main-mag.js"></script>-->
    <!--<script src="js/theme.js"></script>-->
<script src="aos/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script>
    <script src="js/main.js"></script>

    <!-- Analytics Tag Start -->

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3574867-1']);
        _gaq.push(['_setDomainName', 'themarker.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- Analytics Tag End -->
    <!-- Chartbeat Tag Start -->
    <script>
        var _sf_async_config = {uid: 5952, domain: "themarker.com"};
        (function () {
            function loadChartbeat() {
                window._sf_endpt = (new Date()).getTime();
                var e = document.createElement('script');
                e.setAttribute('language', 'javascript');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src', (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                        "static.chartbeat.com/js/chartbeat.js");
                document.body.appendChild(e);
                _sf_async_config.sections = '';
                _sf_async_config.authors = '';
            }

            var oldonload = window.onload;
            window.onload = (typeof window.onload != 'function') ?
                    loadChartbeat : function () {
                oldonload();
                loadChartbeat();
            };
        })();
    </script>
    <!-- Chartbeat Tag End -->
</body>
</html>