<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>חיזבאללה - צבא בגודל בינוני | הארץ</title>
    <meta name="description" content='חיזבאללה ממלחמת לבנון השנייה ועד היום: מספר לוחמים, רקטות, מל"טים, מערכות נ"מ, טילי נ"ט'/>
    <meta name="keywords" content='חיזבאללה, טילים, לוחמים, רקטות, מל"טים, צבא, מערכות נ"מ, טילי נ"ט'/>
    <link rel="canonical" href="http://www.haaretz.co.il/st/c/prod/global/lebanon2/2"/>
    <meta property="og:title" content="חיזבאללה - צבא בגודל בינוני | הארץ"/>
    <meta property="og:type" content="Article"/>
    <meta property="og:url" content="http://www.haaretz.co.il/st/c/prod/global/lebanon2/2"/>
    <meta property="og:image" content="http://www.haaretz.co.il/st/c/prod/global/lebanon2/2/images/facebook.jpg">
    <meta property="og:description" content='חיזבאללה ממלחמת לבנון השנייה ועד היום: מספר לוחמים, רקטות, מל"טים, מערכות נ"מ, טילי נ"ט'/>


    <!-- build:remove -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles_heb.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/project_styles.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" type="text/css" href="<%= prodUrl %>stylesheets/<%= name %>-styles.min.css">
     /build -->
    <!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="edge_includes/edge.6.0.0.min.js"></script>
    <style>
        .edgeLoad-scr0,
        .edgeLoad-scr1a,
        .edgeLoad-scr1b,
        .edgeLoad-scr1c,
        .edgeLoad-scr2,
        .edgeLoad-scr3,
        .edgeLoad-scr4,
        .edgeLoad-scr8,
        .edgeLoad-scr7,
        .edgeLoad-scr6 { visibility:hidden; }
    </style>
    <script src="js/compositions.js"></script>
    <!--Adobe Edge Runtime End-->
</head>
<body>
<!-- Facebook init -->
<script>
    window.fbAsyncInit = function () {
        //52929925921
        FB.init({appId:110687712359084, status: true, xfbml: true});
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End of Facebook init -->
<!-- Main Element Start -->
<div class="inter-mc w-check">
    <div class="chap mainchap" id="chap0" style="background-image:unset">
        <img class="inter-img-w" src="images/open2.png">
        <div class="mainchap_header">
           <div class="headline headline1">חיזבאללה</div><br>
           <div class="headline headline2">לא ארגון, צבא בגודל בינוני</div>
           <div class="goDown"><span><a class="scrollease off74" href="#chap1">E</a></span></div>
        </div>
    </div>
    <div class="chap regchap" id="chap1">
        <p class="subhead">
            לארגון אמנם אין מטוסים וטנקים, אבל מכל בחינה אחרת, יכולותיו המשופרות אינן נופלות בהרבה מאלו של צבא בדרג בינוני. אם תפרוץ מלחמה בצפון, לא יהיה די בהפצצות מהאוויר
        </p>
        <div class="creditShare">
            <div class="credit">
                <time>10.07.2016 10:00</time>
                <p>
                    <a href="http://www.haaretz.co.il/"><strong class="author">עמוס הראל, </strong></a>
                    <a href="http://www.haaretz.co.il/"><strong class="author">גילי כהן</strong></a>
                </p>
            </div>
            <div class="inter-share cntr" s-header="עשור למלחמת לבנון השנייה: לחצו וגלו כיצד הפך חיזבאללה מארגון לצבא בגודל בינוני" s-text="פרויקט אינטראקטיבי | הארץ" s-desc="פרויקט אינטראקטיבי | הארץ" s-img="http://www.haaretz.co.il/st/c/work/elijahu/lebanon2/mob/images/facebook.jpg" s-link="http://www.haaretz.co.il/st/c/prod/global/lebanon2/2">
                <button class="inter-f">f</button>
                <button class="inter-t">t</button>
                <button class="inter-w hide-me">w</button>
                <button class="inter-m">m</button>
            </div>
        </div>
    </div>
    <div class="chap regchap" id="scr0">

        <div class="infoController">
            <div class="infoController_header">
                <span>לוחמים</span>
            </div>
            <p>
                ההתערבות הרוסית בסוריה טמנה בחובה גם רווחים לחיזבאללה. העבודה הצמודה עם קצינים רוסים ומפקדים איראנים שדרגה את יכולות הלחימה של הארגון. אותם מפקדים ולוחמים שיעים, ששרדו בשנות המלחמה, צברו ניסיון מבצעי רב־ערך ומגוון יותר מלוחמת הגרילה שאפיינה את הלחימה ב-2006. לארגון עוד אלפי לוחמים במילואים.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr0Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr0Button1">
                    <span>2016</span>
                </div>
                <p class="tooltipCont"><span class="tooltip btn right scroll">לחצו על השנים כדי לחשוף את הנתונים</span></p>
            </div>
            <div class="infocounter">
                <span id="scr0_count">00000</span>
                <span>לוחמים</span>
                <span class="sidenote" id="scr0_note">(רוב מכריע בסדיר)</span>
            </div>

        </div>
        <div class="animationStage">
            <div id="Stage" class="scr0"></div>
        </div>
        <div id="scr0_pin" class="pin"></div>
    </div> <!-- warriors -->
    <div class="chap regchap" id="scr1">
        <div class="infoController">
            <div class="infoController_header">
                <span>רקטות</span>
            </div>
            <p>
                בימים הראשונים של המלחמה השמיד חיל האוויר כמעט את כל מערך הטילים ארוכי הטווח של חיזבאללה. בסך הכל ירה חיזבאללה כ-4,000 רקטות במהלך ימי הלחימה, כרבע מהן נורו לעבר קרית שמונה וסביבתה. 44 אזרחים ישראלים נהרגו מפגיעת רקטות בימי המלחמה.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr1Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr1Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">

            </div>
        </div>
        <div class="animationStage">
            <div class="infoheader" id="shortRange">
                <span>טווח קצר: </span>
                <span id="shortRangeValue">כ-12 אלף</span>
            </div>
            <div id="Stage1a" class="scr1a"></div>
            <div class="infoheader" id="mediumRange">
                <span>טווח בינוני: </span>
                <span id="mediumRangeValue">עשרות</span>
            </div>
            <div id="Stage1b" class="scr1b"></div>
            <div class="infoheader" id="longRange">
                <span>טווח ארוך: </span>
                <span id="highRangeValue">עשרות</span>
            </div>
            <div id="Stage1c" class="scr1c"></div>
        </div>
        <div id="scr1_pin" class="pin"></div>
    </div> <!-- total rockets distribution -->
    <div class="chap regchap" id="scr3">
        <div class="infoController">
            <div class="infoController_header">
                <span>מצבורי הרקטות</span>
            </div>
            <p>
                כיום בידי חיזבאללה פי עשרה יותר רקטות ממה שהיו לו ערב ה-12 ביולי. בידי הארגון יכולת מגוונת לירי: משגרים תת קרקעיים, משגרים המוסלקים ב"שמורות טבע" ומשגרים ניידים על גבי משאיות וכלי רכב מסחריים ייעודיים. בצה"ל מעריכים כי במלחמה הבאה חיזבאללה יוכל לירות עד 1,500 רקטות ביממה – לעומת כ-200 במהלך הלחימה ב-2006.            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr3Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr3Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span id="scr3_count0">00000</span>
                <span> - </span>
                <span id="scr3_count1">00000</span>
                <!--<span style="line-height:36px">*</span>-->
                <!--<span class="sidenote" id="scr3_note">* הערכה ישראלית, ג'ון קרי העריך כ-80,000</span>-->
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage3" class="scr3"></div>
        </div>
        <div id="scr3_pin" class="pin"></div>
    </div> <!-- total rockets  -->
    <div class="chap regchap" id="scr2">
        <div class="infoController">
            <div class="infoController_header">
                <span>טווח כיסוי רקטות</span>
            </div>
            <p>
                במהלך המלחמה איים חסן נסראללה כי הארגון מסוגל לירות רחוק יותר מחיפה ("בעדה חיפה") – מה שאכן קרה עם הירי לעבר העיר חדרה. כיום לארגון יש כ-130 אלף רקטות מסוגים שונים: גראד לטווחים של עד 40 ק"מ, פאג'ר לטווחים של עד 75 ק"מ, טילי זילזאל מתוצרת איראן עד 200 ק"מ, טילי פאתח ו-M-110 לטווח של 250 ק"מ וטילי סקאד סוריים מדגם D המכסים טווח של 700 ק"מ. מערכת ההגנה האווירית הישראלית כוללת את "כיפת ברזל", "שרביט קסמים", שייכנס לשימוש מבצעי השנה, ומערכת "חץ". הדגם המתקדם יותר של ה"חץ", המכונה "חץ 3", טרם נכנס לשימוש מבצעי.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr2Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr2Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span>יותר מ- </span>
                <span id="scr2_count">00000</span>
                <span> ק"מ</span>
                <span id="scr2_note">(עד חיפה)</span>
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage2" class="scr2"></div>
        </div>
        <div id="scr2_pin" class="pin"></div>
    </div> <!-- rockets range -->
    <div class="chap regchap" id="scr5">
        <div class="infoController">
            <div class="infoController_header">
                <span>מל"טים</span>
            </div>
            <p>
                בשנים האחרונות פיתח חיזבאללה, בסיוע איראן, את מערך הכלים הבלתי מאוישים האוויריים שברשותו. אלו כוללים גם מל"טים שיכולים לשאת חומר נפץ, וכן כלי טיס מתאבדים. במלחמת לבנון השנייה הופלו שני מל"טים מדגם "אבאביל", שהצליח הארגון להחדיר לשטח ישראל. במהלך הלחימה בסוריה השתמש הארגון גם במל"טים בעלי יכולות תקיפה.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr5Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr5Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span id="scr5_line" class="info_line">כלי טיס בודדים</span>
                <!--<span style="line-height:36px">**</span>-->
                <!--<span class="sidenote" id="scr4_note">** לפי נאום ראש הממשלה באו"ם, אוקטובר 2015</span>-->
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage8" class="scr8"></div>
        </div>
        <div id="scr5_pin" class="pin"></div>
    </div> <!-- drones -->
    <div class="chap regchap" id="scr4">
        <div class="infoController">
            <div class="infoController_header">
                <span>טילי חוף-ים</span>
            </div>
            <p>
                במלחמת לבנון השנייה הופתע חיל הים כאשר ספינת אח"י חנית נפגעה מטיל חוף-ים ששיגר חיזבאללה, ארבעה לוחמים נהרגו. בשנים האחרונות התחמש חיזבאללה בטילי יאחונט בעלי טווח גדול יותר, דיוק רב ואפשרויות שיגור מגוונות. בצה"ל פיתחו דגם מתקדם יותר של מערכת "ברק" המוגדרת כ"כיפת ברזל ימית" המסוגלת ליירט טילים הנורים לעבר ספינות או אסדות קידוח.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr4Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr4Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span id="scr4_line" class="info_line">C802 מתוצרת סין</span>
                <!--<span style="line-height:36px">**</span>-->
                <!--<span class="sidenote" id="scr4_note">** לפי נאום ראש הממשלה באו"ם, אוקטובר 2015</span>-->
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage4" class="scr4"></div>
        </div>
        <div id="scr4_pin" class="pin"></div>
    </div> <!-- beach-sea rockets -->
    <div class="chap regchap" id="scr7">
        <div class="infoController">
            <div class="infoController_header">
                <span>טילי נ"ט</span>
            </div>
            <p>
                במהלך המלחמה פגע חיזבאללה ב-52 טנקים ישראליים וחמישה מהם הושמדו לחלוטין. בשנים האחרונות הורחב משמעותית מאגר הטילים נגד טנקים כאשר בנוסף לטילי סאגר, RPG, פאגוט ומילאן נוספו גם טילי קורנט מתקדמים המסוגלים לחדור גם את טנק המרכבה 4. שלוש שנים לאחר המלחמה פיתחו ב"רפאל" את מערכת "מעיל רוח" שנוסתה בהצלחה במבצע "צוק איתן" ולפי צה"ל מנעה פגיעה ב-15 טנקים.            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr7Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr7Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span id="scr7_line" class="info_line">מאות</span>
                <!--<span style="line-height:36px">**</span>-->
                <!--<span class="sidenote" id="scr4_note">** לפי נאום ראש הממשלה באו"ם, אוקטובר 2015</span>-->
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage7" class="scr7n"></div>
        </div>
        <div id="scr7_pin" class="pin"></div>
    </div> <!-- anti tank missiles -->
    <div class="chap regchap" id="scr6">
        <div class="infoController">
            <div class="infoController_header">
                <span>מערכות נ"מ</span>
            </div>
            <p>
                ב-2006 השתמש הארגון במערכות מיושנות כמו טילי כתף ופגזי נ"מ, מה שאפשר פעילות כמעט חופשית של חיל האוויר מעל שמי לבנון. בשנים האחרונות התאמנו בסוריה עשרות אנשי חיזבאללה בהפעלת נשק מתקדם נגד מטוסים המצוי ברשותה. לפי ראש הממשלה נתניהו בשנה שעברה, בידי הארגון גם מערכת SA-22 – מערכת מכ"ם וטילים נגד מטוסים וספינות מתוצרת רוסיה.
            </p>
            <div class="sides clearfix">
                <div class="side side1 selected" data-value="scr6Button0">
                    <span>2006</span>
                </div>
                <div class="side side2" data-value="scr6Button1">
                    <span>2016</span>
                </div>
            </div>
            <div class="infocounter">
                <span id="scr6_line" class="info_line">מערכות מיושנות</span>
                <!--<span style="line-height:36px">**</span>-->
                <!--<span class="sidenote" id="scr6_note">** לפי נאום ראש הממשלה באו"ם, אוקטובר 2015</span>-->
            </div>
        </div>
        <div class="animationStage">
            <div id="Stage6" class="scr6"></div>
        </div>
        <div id="scr6_pin" class="pin"></div>
    </div> <!-- anti aircraft systems -->
    <div class="otherArticles">
    <div class="otherArticles_header">
        <span>
עשור ללבנון השנייה
        </span>
        <span>
            בחזרה למלחמה ההיא, הצצה למלחמה הבאה
        </span>
    </div>
    </div>

</div>
<!-- Main Element End -->


<script src="http://www.haaretz.co.il/st/c/static/resources/js/jquery/jquery-2.1.4.min.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/resources/js/slick/slick.min.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/resources/js/counter/countup.min.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/resources/js/xl/xl.min.300415.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/cdn/interext-311215.min.js"></script>
<script src="http://www.haaretz.co.il/st/c/static/bundle/bundle-2.0.5.min.js"></script>
<script src="js/main.js"></script>

<!-- Analytics Tag Start -->
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-589309-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- Analytics Tag End -->
<!-- Chartbeat Tag Start -->
<script>
    var _sf_async_config={uid:5952,domain:"haaretz.co.il",useCanonical:true,sections:"interactive"};
    (function(){
        function loadChartbeat() {
            window._sf_endpt=(new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src',(("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
                    "static.chartbeat.com/js/chartbeat.js");
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
<!-- Chartbeat Tag End -->
</body>
</html>