   <div class="row open--video-youtube inter_bar-margin">
            <div class="displayVideo inter-videoContainer-CINEMA">
                <div class="inter_youtube" id="Gfl4dbmJsxU" data-YTparam='{"playlist":"Gfl4dbmJsxU","controls":"0","autoplay":"1","wmode":"transparent","loop":"1","modestbranding":"1","rel":"0","showinfo":"0"}'>
                </div>
            </div>
            <div class="row open--textbox inter_tac inter_p">
                <h1 class="mb-comfort">Open Video - YouTube</h1>
                <a class="inter_icon inter_icon-heb-xl scrollease" data-offset="50" href="#">E</a>
            </div>
        </div>