<div class="row open--video-youtube inter_bar-margin">
    <div class="inter-videoContainer-HDTV">
        <div class="inter-video-mask" id="Kks706XCuak" data-YTparam='{"playlist":"sNlOGUJ1Rfs","controls":"0","autoplay":"0","wmode":"transparent","loop":"1","modestbranding":"1","rel":"0","showinfo":"0"}'>
        </div>
    </div>
    <div class="row open--textbox inter_tac inter_p">
        <h1 class="mb-comfort">Open Video - YouTube - Mask</h1>
        <a class="inter_icon inter_icon-heb-xl scrollease" data-offset="50" href="#">E</a>
    </div>
</div>